<div>
  <h2>A NEW STUDENT</h2>
  <h4>Full name</h4>
  <h3>
    <%= @full_name %>
  </h3>
  <h4>Favorite Show</h4>
  <h3>
    <%= @favorite_show %>
  </h3>
  <h4>HOW MANY CHEESBURGERS??</h4>
  <h3>
    <%= @num_cheesburgers %>
  </h3>
</div>